.section {
  margin-bottom: 23px;  
}

.badge {
  width: 78px;
  height: 36px;
  margin-bottom: 16px;
}

.divider {
  border: none;
  border-top: 1px solid #C4C4C4;
  margin-bottom: 8px;
}

.hidden {
  display: none;
}

.title {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.71;
  color: #91A0B6;
}

.list, 
.skeletons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.load-more-trigger {
  height: 10px;
}

@media screen and (min-width: 1024px) {
  .section {
    margin-bottom: 56px;
  }

  .list, 
  .skeletons {
    margin-bottom: 56px;
  }

  .middle .list,
  .small .list,
  .skeletons {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .middle .list li {
    flex-basis: calc((100% - 32px) / 2);
  }

  .small .list li,
  .skeletons > div {
    flex-basis: calc((100% - 32px * 2) / 3);
  }
}