.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(4, 191, 148, 0.16);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  color: #04BF94;
}

.description {
  max-width: 235px;
  font-weight: 500;
  font-size: 18px;
  color: #242424;
}

.button {
  width: 100%;box-sizing: border-box;
  padding: 8px 32px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #04BF94;  
}

.button:hover,
.button:focus,
.button:active {
  background-color: #03A67F;;
}

.image {
  display: none;  
}

@media screen and (min-width: 1024px) {
  .card {
    gap: 24px;
    margin-bottom: 56px;
    padding: 24px;    
  }

  .title {
    font-weight: 600;
    font-size: 32px;    
  }

  .description {
    max-width: 100%;
    font-size: 24px;  
    color: #000000;  
  }

  .button {
    width: fit-content;
  }

  .image {
    position: absolute;
    top: -9px;
    right: -15px;
    display: block;
    width: 336px;
    height: 261px;
  }
}