# root
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# frontend
/frontend/node_modules/
/frontend/build/
/frontend/.env

# backend
/backend/node_modules/
/backend/dist/
/backend/.env

# common system files
.DS_Store
*.local

# all node_modules in any subdirectory
**/node_modules/
