.mobile-menu-wrapper {
  position: relative;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.menu-wrapper {
  position: absolute;
  right: -8px;
  width: 100vw;
  height: calc(100vh - 64px);
  box-sizing: border-box;
  padding: 16px 8px;
  background-color: #FFFFFF;
  z-index: 10;
}