.nav ul {
  display: flex;
  gap: 24px;
  color: #262626;
}

.mobile ul {
  flex-direction: column;
}

.link {  
  font-weight: 500;
  line-height: 1.5;
}

.link a {
  display: inline-block;
  height: 100%;
  color: #262626;
}

.link a:hover,
.link a:focus,
.link a:active {
  color: #04BF94;
  text-decoration: underline;
}

.link svg {
  display: block;
}