.footer {  
  padding: 72px 0 16px 0; 
}

.footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.list, .text {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list li:not(:last-child) {
  position: relative;
}

.link, .text {
  color: #91A0B6;
  font-size: 16px;
  line-height: 1.5;
}

.link {
  display: block;
}

.link:hover,
.link:focus,
.link:active {
  color: #04BF94;
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .text {
    max-width: 215px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 44px;
  }

  .footer > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .list {
    flex-direction: row;    
    align-items: center;
    gap: 49px;
  }

  .list li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -24px;
    width: 1px;
    height: 16px;
    background-color: #91A0B6;
  }

  .link, .text {
    font-size: 14px;
    line-height: 1.43;    
  }
}