@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

img {
  display: block;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

section:last-child {
  margin-bottom: 0;
}

.desktop {
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.mobile-only {
  display: block;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.header-button {
  display: block;
  padding: 0;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1074px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;

  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}
